<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("InfoTrack Automated Search", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>








            <br />
            <br />
            <br />
            <table ID="tblFooter">
                <tr>
                    <th><p>Jacob Zaidi</p></th>
                    <th><p>My Pages</p></th>
                    <th><p>My Projects</p></th>
                </tr>
                <tr>
                    <td class="footerPadRight"><a href="https://www.infotrack.com.au/">InfoTrack</a></td>
                    <td class="footerPadRight"><a href="https://jacob.zaidi.id.au/">Website</a></tdclass="footerPadRight">
                    <td><a href="https://github.com/jacobzaidiau/UsersWebAPI">User Management</a></td>
                </tr>
                <tr>
                    <td class="footerPadRight"><a href="mailto:jacob@zaidi.id.au">jacob@zaidi.id.au</a></td>
                    <td class="footerPadRight"><a href="https://www.linkedin.com/in/jacobzaidi">LinkedIn</a></td>
                    <td><a href="https://github.com/jacobzaidiau/Ticket-Tracker">Ticket Tracker</a></td>
                </tr>
                <tr>
                    <td class="footerPadRight"><a href="tel:0466450140">0466 450 140</a></td>
                    <td class="footerPadRight"><a href="https://github.com/jacobzaidiau">GitHub</a></td>
                    <td><a href="https://github.com/jacobzaidiau/TriangleServerAndMVC">Triangle Tool</a></td>
                </tr>
            </table>

            <br />
            <br />
            <br />



















            <p>&copy; @DateTime.Now.Year - InfoTrack Technical Test</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
